<ul class="nav nav-pills">
  <li class="nav-item" >
    <a class="nav-link"
    routerLinkActive="active"
    routerLink="/characters">Home</a>
    <!-- [routerLinkActiveOptions]="{exact: true}"  opcja jezeli routerLink ="/"  -->
    <!-- routerLink="" dziala tylko w przypadku stringa jezeli chce tutaj np funkcje getFnct() to [routerLink]="'getFunct()'"-->
  </li>
  <li class="nav-item" >
    <a class="nav-link" routerLinkActive="active" routerLink="new-character">New Character</a>
  </li>
</ul>
