<div>
  <ul class="nav nav-tabs">
    <li class="nav-item" >
      <a [routerLink]="['/characters/all']"
      routerLinkActive="router-link-active"
      class="nav-link" >All</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/characters/light']"
      routerLinkActive="router-link-active"
      class="nav-link">Light</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/characters/dark']"
      routerLinkActive="router-link-active"
      class="nav-link">Dark</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li> -->
  </ul>
  <router-outlet></router-outlet>
</div>
